<html>
	<head>
		<link rel="stylesheet" href="../libs/bootstrap/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->
		<style>
			button {
				position: absolute;
				top: 5px;
				right: 5px;
			}
		</style>
		<script src="../js/panel.js"></script>
	</head>
	<body>
		<div class="container">
			<h2>Piwik Checker <span id="piwikNotFoundHeading" class="badge badge-warning"></span></h2>
			<small><a href="#" id="piwikURL" target="_blank"></a></small>
			<p id="piwikNotFound"></p>
			<button class="btn btn-secondary" id="start">Reload</button>
			<table class="table"></table>
			<pre id="json"></pre>

		</div>
	</body>
</html>
