<html>
	<head>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->

		<script src="../js/panel.js"></script>
	</head>
	<body>
		<div class="container">
			<h2>DevTools panel</h2>
			<button id="start">Static Test</button>
			<table class="table"></table>
			<pre id="json"></pre>

		</div>
	</body>
</html>
